div.circle-avatar{
    /* make it responsive */
    max-width: 40%;
    width:30%;
    height:30%;
    display:block;
    /* div height to be the same as width*/
    padding-top:30%;

    /* make it a circle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 50px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 2pt solid white;
}

html {
    background: rgba(44, 62, 80,1.0);
}

body{
    background-color: transparent !important;
}

h1{
    padding-top: 60px;
    text-align: center;
    color: white !important;
    font-size: 40pt !important;
    /*white-space: nowrap;*/
}

h2{
    text-align: center;
    color: white !important;
    /*white-space: nowrap;*/
}

h3{
    text-align: center;
    color: white !important;
    /*white-space: nowrap;*/
    font-style: italic;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
    margin: 15px;
}

.btn-primary.outline {
    border: 2px solid white;
    color: white;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: white;
    border-color: white;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: white;
    color: white;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow:none !important;
}

.row{
    color: white !important;
}

.space{
    margin-bottom: 100vh;
}

.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}
