div.circle-avatar{
    /* make it responsive */
    max-width: 30%;
    width:30%;
    height:30%;
    display:block;
    /* div height to be the same as width*/
    padding-top:30%;

    /* make it a circle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: -70px;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 2pt solid white;
}

html {
    background: #222326;
}

body{
    background-color: transparent !important;
    padding-top: 50px
}

h1{
    padding-top: 60px;
    text-align: center;
    color: white !important;
    font-size: 40pt !important;
}

#name{
    padding-top: 0px;
}

h2{
    text-align: center;
    color: white !important;
}

h3{
    text-align: center;
    color: white !important;
    font-style: italic;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
    margin: 15px;
}

.btn-primary.outline {
    border: 2px solid white;
    color: white;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: white;
    border-color: white;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: white;
    color: white;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow:none !important;
}

.row{
    color: white !important;
}

.space{
    margin-bottom: 100vh;
}

.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}


.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

footer {
    background: #222;
}
footer .copyright-section {
    background: #111;
    padding: 30px 0;
}
footer .copyright-section .logo {
    max-width: 300px;
    margin: 0 auto;
}
footer .copyright-section .social-media {
    margin-top: 30px;
}
footer .copyright-section .social-media ul {
    text-align: center;
}
footer .copyright-section .social-media ul li a {
    display: block;
    color: #6BB9F0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #6BB9F0;
}
footer .copyright-section .social-media ul li a:hover {
    background: #6BB9F0;
    color: #fff;
}
footer .copyright-section .copyright {
    margin-top: 30px;
}
footer .copyright-section .copyright p {
    text-align: center;
    color: #666;
}
footer .footer-logo{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #999;
}
footer .footer-logo strong{
    color: #6BB9F0;
}