@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Roboto');

*{
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(white, #e74c3c);
}

#grid-area{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "main-area"
    "footer";
    grid-template-rows: 1fr auto;
}

#main-area{
    grid-area: main-area;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Advent Pro, sans-serif;
}

#footer{
    font-family: Roboto, sans-serif;
    grid-area: footer;
    text-align: center;

    p{
        margin-bottom: 5px;
    }
}

#name-section{
    text-align: center;

    h1{
        font-size: 4.0rem;
        margin: 0;
    }

    h2{
        margin-top: 20px;
        margin-bottom: 25px;
    }
}

#links-area{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;

    i{
        font-size: 2.0rem;

        &:hover{
            color: lightgrey;
        }
    }
}