<div
  class="height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
  <div class="d-flex flex-justify-between flex-items-start mb-1">
    <h1 class="f4 lh-condensed mb-1">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
  </div>
  <div
    class="d-flex flex-wrap flex-items-start {% if site.layout == 'stacked' %} mt-1 mt-md-3{% endif %}">
    {% for item in post.tags %}
    <button class="btn btn-sm btn-outline mr-1 mb-1 post-tag" aria-label="#{{ item }}" disabled>
      #{{item | downcase}}
    </button>
    {% endfor %}
  </div>
  <div class="text-gray mb-2 ws-normal">{{ post.date | date: "%b %d, %Y"}}</div>
</div>