{% include header.html %}

<div class="container-lg py-6 p-responsive text-center">
  {% include masthead.html metadata=true %}

  <div class="container-md f4 text-left border rounded-2 bg-white p-3 p-sm-5 mt-6">
    <p class="f5"><a href="/"
        class="d-flex flex-items-center">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:#0366d6 aria-label:Home %}Home</a>
    </p>
    <h1 class="f00-light lh-condensed mb-5">{{ page.title }}</h1>
    <div class="markdown" id="markdownPage">
      {{ content | markdownify }}
    </div>
  </div>
</div>

{% include footer.html %}