{% include header.html %}

{% capture post_body %}
{% assign shareable_social_media = '' | split: ',' %}

{% for services in site.data.social_media %}
{% for service in services %}

{% if service.share_url_prefix %}
{% assign shareable_social_media = shareable_social_media | push: service %}
{% endif %}
{% endfor %}
{% endfor %}

{% assign total_shareable_services = shareable_social_media | size %}

{% if total_shareable_services > 0 %}
<div
  class="col-sm-4 col-lg-3 d-flex flex-wrap flex-items-center d-sm-block float-sm-right border rounded-2 bg-white p-3 mb-5 ml-md-5">
  <h3 class="text-gray-dark mr-3 mr-sm-0">Share</h3>
  <ul class="d-flex d-sm-block list-style-none">
    {% for service in shareable_social_media %}
    <li class="mt-sm-3 smedia-icon">
      <a href="{{ service.share_url_prefix }}{{ page.url | prepend: site.url | prepend: site.baseurl | url_encode }}"
        title="Share on {{ service.name }}" class="d-flex flex-items-center">
        <div class="mr-1" style="width:32px; fill: #{{service.color}}">{{ service.icon_svg }}</div><span
          class="d-none d-sm-inline-block text-gray-light">{{ service.name }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<div class="article">
  {{ content }}
</div>
{% endcapture %}

<div class="container-lg py-6 p-responsive text-center">
  {% include masthead.html metadata=false %}

  <div class="container-md f4 text-left border rounded-2 bg-white p-3 p-sm-5 mt-6">
    <p class="f5"><a href="/"
        class="d-flex flex-items-center">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:#0366d6 aria-label:Home %}Home</a>
    </p>
    <h1 class="f00-light lh-condensed">{{ page.title }}</h1>
    <h1 class="f3-light lh-condensed mb-2">{{ page.description }}</h1>
    <p class="{% if site.style == 'dark' %}text-white{% else %}text-blue{% endif %} mb-5">Published
      {{ page.date | date: "%b %d, %Y"}}</p>
    {{ post_body }}

    <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
    <link rel="stylesheet" type="text/css"
      href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
    <script type="text/javascript"
      id="hcb">if (!window.hcb_user) { hcb_user = {}; } (function () { var s = document.createElement("script"), l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"), h = "https://www.htmlcommentbox.com"; s.setAttribute("type", "text/javascript"); s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%24M8INDxNK7spZV0KUWmrYn1" + "&opts=16862&num=10&ts=1553116284654"); if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s); })();</script>
  </div>
</div>

{% include footer.html %}