.darkBG {
    background-color: #FF9999;
}

.darkerBG {
    background-color: #99CCFF;
}

.darkestBG {
    background-color: #00CC99;
}

div.circle-avatar{
    /* make it responsive */
    max-width: 40%;
    width:40%;
    height:40%;
    display:block;
    /* div height to be the same as width*/
    padding-top:40%;

    /* make it a circle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 20px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: 2pt solid white;
}

body{
    background: red url(../docs/background.jpg) no-repeat center center fixed;
    margin: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.jumbotron{
    text-align: center;
    color: white !important;
}

h3{
    font-style: italic;
}

